@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body{
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin:0;
}

header{
    background-color:#373b69 ;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    align-items: center;
}

#home{
    margin-right: 1rem;
}

#searchBar{
    padding: 0.5rem;
    margin-left: auto;
    border-radius: 50px;
    background: linear-gradient(to right, #1e2141, #373b69);
    border: 2px solid #22254b;
    padding:0.5rem 1rem;
    content: white;
    color: white;
    outline: none;
    /* text-align: left; */
}

.searchBar::placeholder{
    color:  #ffffff;
    font-family:"Poppins", sans-serif;
}

.gg-search{
    color: white;
    translate: -30px;
    /* translate: -158px; */
}

main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    background-color:#373b69 ;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.2) ;
    width:200px;
    margin: 1.1rem;
    max-height: 50%;
    /* justify-content: flex-start; */
    overflow: hidden;
    position: relative;

}

.movie img{
    width: 100%;

}

.movieInfo{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    letter-spacing: 0.5px;
 
    
}

.movieInfo h3{
    margin:0;
    font-size: small;
    padding: 0.5rem 1rem 1rem;
}

.movieInfo span{
    background-color:#22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
}

.movieInfo span.green{
    color: rgb(44, 186, 44);
}

.movieInfo span.orange{
    color: rgb(220, 154, 31);
}

.movieInfo span.red{
    color: rgb(180, 25, 25);
}

.overview{
    position: absolute; /* Sets the positioning context of elements with the .overview class to be absolute, positioning them relative to their nearest positioned ancestor or the initial containing block if no positioned ancestor is found.*/
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.3rem;
    font-size: small;
    transform: translateY(105%);
    transition: transform 0.3s ease-in;
    overflow: auto;
}
.overview h4{
    /* margin-top: 5px;
    margin-bottom: 11px;   */

}

/* Apply hover styles for touch devices */
@media (hover: hover) {
    .movie:hover .overview {
      transform: translateY(0);
    }
  }