@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body{
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin:0;
}
form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

header{
    background-color:#373b69 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    
    
}

.navbar {
    display: flex;
    align-items: center;
    cursor: pointer;
    
  }
  
  .navbar-icon {
    position: relative;
    width: 25px;
    height: 3px;
    background-color: #eee;
    margin-bottom: 0.5rem;
  }
  
  /*
  *Create another line  at the top and bottom of the white line.
  * This is also known as pseudo elements.
  */
  .navbar-icon:before,
  .navbar-icon:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #eee;
    transition: transform 0.3s ease;
  }
  /*
  *Create space between the first line and the second line
  */
  .navbar-icon:before {
    top: -8px;
  }
  /*
  *Create space between the second line and the third line
  */
  .navbar-icon:after {
    bottom: -8px;
  }
  
  #yellowBox{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: rgba(255, 181, 34, 0.9);
    z-index: 999;
    display: none;
    transition: ease-in;
    overflow: auto;

}
#logo{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#genres{
 font-size: small;
 margin-left: 10px;
 color: rgba(19, 15, 15, 0.9);
}
#line{
  border-color: rgba(255, 255, 255, 0.9);
}
.genreTypes{
  
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: medium;

}
 
#searchBar{
    padding: 0.5rem;
    margin-left: 1.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #1e2141, #373b69);
    border: 2px solid #22254b;
    padding:0.5rem 1rem;
    content: white;
    color: white;
    outline: none;
  
    top: 1rem;
    right: 1.5rem;
   
}

.searchBar::placeholder{
    color:  #ffffff;
    font-family:"Poppins", sans-serif;
}



main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.movie{
    background-color:#373b69 ;
    box-shadow:0 4px 5px rgba(0, 0, 0, 0.2) ;
    width:200px;
    margin: 1.1rem;
    max-height: 50%;
    width: calc(25% - 2.2rem);
    overflow: hidden;
    position: relative;
  

}
.movie:hover .overview {
  transform: translateY(0);
  }


  /*
  *Applies specific styling when the screen size is smaller or equal to 768 pixels
  * to make sure that the movies fit the screen and sizes are consistent.
  */
  @media (max-width: 768px) {
    .movieInfo h3 {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    }


    /*
    *Sets the width of the movie elements to occupy 50% of the container's 
    *width minus a margin of 2.2rem on both sides. 
    *This ensures that two movie cards can fit side by side on the screen.
    */
    .movie {
        width: calc(50% - 2.2rem); 
      }
      
  }


  /*
  *Sets the width of the movie elements to occupy 100% of the container's width
   minus a margin of 2.2rem on both sides when the screen size is smaller or equal to 
  *480 pixels.
  */
  @media (max-width: 480px) {
    .movie {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .movieInfo {
        color: #eee;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        letter-spacing: 0.5px;
        font: small;
      }
      .movieInfo h3 {
        margin: 0;
        font-size: small;
        margin-bottom: 0.5rem;
        display: flex;
        height: 100%;
      }
      
      .movieInfo span {
        background-color: #22254b;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 0.5rem;
      }
        #searchBar {
            width: 70%; /* Adjust the width as needed */
            margin: 0; /* Remove any margin */
        }
        #searchBar{
          width: 50%;
         
      }
        

   
  }


.movie img{
    width: 100%;

}

.movieInfo{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    letter-spacing: 0.5px;
    font: small;

}
    

.movieInfo h3{
    margin:0;
    font-size: small;
    flex: 1;
    
}

.movieInfo span{
    background-color:#22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    white-space: nowrap;
  overflow: hidden;
   
}

.movieInfo span.green{
    color: rgb(44, 186, 44);
}

.movieInfo span.orange{
    color: rgb(220, 154, 31);
}

.movieInfo span.red{
    color: rgb(180, 25, 25);
}

.overview{
    position: absolute; /* Sets the positioning context of elements with the .overview class to be absolute, positioning them relative to their nearest positioned ancestor or the initial containing block if no positioned ancestor is found.*/
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.3rem;
    font-size: small;
    transform: translateY(105%);
    transition: transform 0.3s ease-in;
    overflow: auto;

}
.overview h4{
    margin-top: 5px;
    margin-bottom: 11px;

}
.pageButton {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  
#prevPage {
    margin-right: 1rem;
    border-radius: 5px;
    width: 120px;
    padding: 0.5rem;
    background-color: #373b69;
    color: #eee;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #nextPage {
    margin-left: 1rem;
    border-radius: 5px;
    width: 120px;
    padding: 0.5rem;
    background-color: #373b69;
    color: #eee;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


/* Add hover styles for the page buttons */
/* #prevPage:hover,
#nextPage:hover {
  background-color: #22254b;
} */


