.center-div{
    padding-top: 10%;
}

.btn-btn-success{
    padding: 4em 2em;
}
body{
    background-image:url('https://wallpaperaccess.com/full/443573.jpg') ;
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    color: white;
    font-weight: bold;
}
span{
    color:white;
    font-weight: bold;
}
#message{
    color:white;
    font-weight: bold;
}
@media (max-width: 768px) {
    .center-div{
        width: 70rem;
    }
    .container{
        margin-right: 39.5rem;

    }
    body{
        background-size: 200%;
    }
}

@media (max-width: 480px) {
    .center-div{
        width: 220%;
        margin-left: 2rem;
        margin-top: 6rem;

    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
    .title{
        font-size: small;
    }
    body{
        background-size: 390%;
    }
}

